@model CarService.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services.Specification)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
